.aboutPage {
  padding-top: 77px;
}
.atopnav {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  z-index: 99999;
  width: 100%;
  background-color: yellow;
  justify-content: center;
  height: 60px;
  gap: 40px;
}
.at-title {
  color: orange;
  text-align: left;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: yellow;
  height: 30px;
  font-size: 50px;
  -webkit-text-stroke: 1px black; /* Sets the outline width and color */
}
.ainfo {
  display: flex;
  flex-direction: row;
}
.anavbar {
  width: 100%;
  padding: 0px;
  background-color: yellow;
  gap: 10px;
  margin-top: 15px;
}
.anavbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.anavbar ul li {
  margin: 1px;
  margin-right: 5px;
}
.anavbar ul li a {
  font-family: "Georgia", "Times New Roman", Times, serif;
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding: 1px;
  display: block;
}
ul {
  list-style-type: circle;
  text-align: center;
  gap: 10px;
}
.odrbtn {
  color: black;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 5px;
  background-color: darkorange;
  text-align: center;
  align-self: center;
  width: 10%;
  margin-left: -25px;
}

.a-head {
  position: relative;
  justify-content: center;
  text-align: center;
}
.ab-text {
  color: darkorange;
  font-family: "Times New Roman", Times, serif, sans-serif;
  font-size: xx-large;
  -webkit-text-stroke: 1px black; /* Sets the outline width and color */
  position: absolute;
  bottom: -5%;
  left: 16px;
}
.a-head img {
  width: 99.8%;
  height: auto;
  margin-top: -22px;
  filter: brightness(50%);
  border: 2px solid black;
  border-radius: 5px;
}

.a-info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
}
.a-info p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: x-large;
  align-self: center;
}
.a-hinfo {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers the img + heading stack */
}
.a-hinfo img {
  width: 400px;
  height: auto;
  border: 2px solid darkorange;
  border-radius: 5px;
}
.a-hinfo h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: bolder;
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: underline;
  color: darkorange;
  -webkit-text-stroke: 1px black; /* Sets the outline width and color */
}

.a-story {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  margin-top: 5px;
}
.a-story img {
  width: auto;
  height: 300px;
  align-self: center;
  border: 2px solid darkorange;
  border-radius: 5px;
}
.a-tstory h3 {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: xx-large;
  font-weight: bolder;
  text-decoration: underline;
  color: darkorange;
  -webkit-text-stroke: 1px black; /* Sets the outline width and color */
  margin-top: 5px;
}
.a-tstory p {
  text-align: center;
  margin-top: -20px;
}

.t-gallery {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: xx-large;
  font-weight: bolder;
  text-decoration: underline;
  color: darkorange;
  -webkit-text-stroke: 1px black; /* Sets the outline width and color */
  margin-bottom: 0px;
  margin-left: 5px;
}
.gallery {
  display: flex;
  flex-direction: row;
  overflow-x: auto; /* horizontal scroll */
  scroll-snap-type: x mandatory; /* snaps to images */
  gap: 10px;
  padding: 10px;
}
.gallery img {
  height: 200px;
  width: auto;
  flex-shrink: 0; /* keeps width, no squishing */
  scroll-snap-align: start; /* snap image to left edge */
  border: 3px solid darkorange;
  border-radius: 5px;
}

.afooter {
  background-color: black;
  margin-top: 10px;
  margin-bottom: -25px;
  border-top: 2px solid darkorange;
}
.f-header {
  color: darkorange;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: xx-large;
  font-weight: bolder;
  text-decoration: underline;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
}
.acontacts {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-self: center;
  margin-top: 5px;
  margin-bottom: 25px;
  gap: 20px;
}
.asocials {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.asocials a {
  color: white;
  font-family: "Times New Roman", Times, serif, sans-serif;
  text-decoration: underline;
  font-size: large;
}
.asocials img {
  height: 20px;
  width: auto;
}

/* Tablets */
@media (max-width: 900px) {
  .a-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2px;
  }
  .a-info p {
    font-size: 20px;
  }
  .a-story {
    display: flex;
    flex-direction: column;
  }
  .a-story img {
    height: 250px;
  }
  .a-tstory h3 {
    font-size: 25px;
  }
}

/* Phones */
@media (max-width: 600px) {
  .a-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2px;
  }
  .a-info p {
    font-size: 20px;
  }
  .a-story {
    display: flex;
    flex-direction: column;
  }
  .a-story img {
    height: 250px;
  }
  .a-tstory h3 {
    font-size: 25px;
  }
}