.menuPage {
  height: 100%;
  margin: 0;
  padding: 0;

  position: relative;
  background-color: white;
  border: 5px solid yellow;
  box-sizing: border-box;

  padding-top: 72.8px;
}

.mtopnav {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  z-index: 99999;
  width: 100%;
  background-color: yellow;
  justify-content: center;
  height: 60px;
  gap: 40px;
}
.mt-title {
  color: orange;
  text-align: left;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: yellow;
  height: 30px;
  font-size: 50px;
  -webkit-text-stroke: 1px black; /* Sets the outline width and color */
}
.minfo {
  display: flex;
  flex-direction: row;
}
.mnavbar {
  width: 100%;
  padding: 0px;
  background-color: yellow;
  gap: 10px;
  margin-top: 15px;
}
.mnavbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}
.mnavbar ul li {
  margin: 1px;
  margin-right: 5px;
}
.mnavbar ul li a {
  font-family: "Georgia", "Times New Roman", Times, serif;
  color: black;
  font-size: 20px;
  text-decoration: none;
  padding: 1px;
  display: block;
}
ul {
  list-style-type: circle;
  text-align: center;
  gap: 10px;
}

.m-head {
  position: relative;
  justify-content: center;
  text-align: center;
}
.m-text {
  color: darkorange;
  font-family: "Times New Roman", Times, serif, sans-serif;
  font-size: xx-large;
  -webkit-text-stroke: 1px black; /* Sets the outline width and color */
  position: absolute;
  top: -16%;
  right: 16px;
}
.m-obtn {
  position: absolute;
  top: 12%;
  right: 2%;
}
.m-obtn a {
  color: yellow;
  background-color: black;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  font-weight: bolder;
  font-size: 24px;
}
.m-head img {
  width: 100%;
  height: auto;
  margin-top: -22px;
  filter: brightness(50%);
  border: 2px solid black;
  border-radius: 5px;
}

.menu {
  display: flex;
  flex-direction: column;
}
.s-menu {
  display: flex;
  flex-direction: row;
}
.s-menu p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 23px;
  font-weight: bold;
  align-self: center;
  margin-left: 25px;
  background-color: darkorange;
  border: 2px solid black;
  padding: 20px;
}
.s-menu h6 {
  color: darkorange;
  align-self: center;
  margin-left: 20px;
  padding: 10px;
  background-color: black;
  border: 2px solid darkorange;
}
.s-intro {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.s-intro img {
  width: auto;
  height: 350px;
  border: 2px solid darkorange;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: -20px;
}
.s-intro h2 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: xx-large;
  text-decoration: underline;
  align-self: center;
  color: darkorange;
  -webkit-text-stroke: 1px black; /* Sets the outline width and color */
  margin-bottom: 10px;
}

.closer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  gap: 5rem;
}
.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offers img {
  width: 200px;
  height: auto;
  border: 2px solid darkorange;
  border-radius: 5px;
  margin-top: 10px;
}
.offers p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 10px;
  font-weight: bold;
  align-self: center;
  background-color: darkorange;
  border: 2px solid black;
  border-radius: 5px;
  padding: 20px;
  margin-top: 4px;
}
.offers h6 {
  color: darkorange;
  align-self: center;
  padding: 10px;
  background-color: black;
  border: 2px solid darkorange;
  margin-top: 1px;
  margin-bottom: 5px;
}

.ending {
  text-align: center;
  align-self: center;
  font-size: smaller;
  color: darkgoldenrod;
  background-color: black;
  padding: 10px;
  border: 2px solid darkorange;
  border-radius: 5px;
}

.mfooter {
  background-color: black;
  margin-top: 10px;
  margin-bottom: -25px;
  border-top: 2px solid darkorange;
}
.f-header {
  color: darkorange;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: xx-large;
  font-weight: bolder;
  text-decoration: underline;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 5px;
}
.mcontacts {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-self: center;
  margin-top: 5px;
  margin-bottom: 25px;
  gap: 20px;
}
.msocials {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.msocials a {
  color: white;
  font-family: "Times New Roman", Times, serif, sans-serif;
  text-decoration: underline;
  font-size: large;
}
.msocials img {
  height: 20px;
  width: auto;
}

/* Tablets */
@media (max-width: 900px) {
  .s-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .s-menu p {
    font-size: 20px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .s-menu h6 {
    margin-left: 0px;
    margin-bottom: 15px;
  }
  .s-intro img {
    height: auto;
    width: 450px;
    margin-left: 0px;
  }

  .closer {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .ending {
    font-size: x-small;
  }
}

/* Phones */
@media (max-width: 600px) {
  .s-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .s-menu p {
    font-size: 15px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .s-menu h6 {
    margin-left: 0px;
    margin-bottom: 15px;
  }
  .s-intro img {
    margin-left: 0px;
    height: auto;
    width: 350px;
  }

  .closer {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .ending {
    font-size: x-small;
  }
}
