html,
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: white;
  border: 5px solid yellow;
  box-sizing: border-box;
}

.myhr {
  width: 25%;
  border: 1px solid black;
}